Django==1.7
Pillow==2.5.3
chartkick==0.4.2
dj-database-url==0.3.0
dj-static==0.0.6
django-braces==1.4.0
django-chartit==0.1
django-chartjs==1.0
django-debug-toolbar==1.2.1
django-toolbelt==0.0.1
gunicorn==19.1.1
healthgraph-api==0.3.0
psycopg2==2.5.4
pycha==0.7.0
pygal==1.5.1
requests==2.4.1
six==1.8.0
sqlparse==0.1.12
static3==0.5.1
wsgiref==0.1.2
