

{% extends 'base.html' %}
{% load chartkick %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text.css">

        <script src="http://www.google.com/jsapi"></script>

        <!-- To use Highcharts uncomment the following 2 lines and delete the previous one
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://ankane.github.io/chartkick/chartkick.js"></script>

  <body>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text.css">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text.css">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="static/chartkick.js"></script>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <img src="{{ user.image  }}" alt="{{ user.name }}" height="42" width="42" align=middle">
            <li class="active"><a href={% url "profile" %}>{{   user.name }} Profile</a></li>
              <BR>
            <li><a href={% url "hsummary" %}>Health Summary</a></li>
            <li><a href={% url "fsummary" %}>Fitness Summary</a></li>
            <li><a href={% url "nsummary" %}>Nutrition Summary</a></li>
          </ul>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href={% url "import_db" %}>Import Data</a></li>
            <li><a href={% url "import_db" %}>Export Data</a></li>
          </ul>

          <ul class="nav nav-sidebar" >
            <li><a href="">Add/Delete Health Data</a></li>
            <li><a href="">Add/Delete Fitness Data</a></li>
            <li><a href="">Add/Delete Nutrition Data</a></li>

          </ul>
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#          </ul>#}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <BR><BR>
          <h2 class="page-header">Health Details</h2>

          <div class="row placeholders">
    <div id="black2">{% line_chart bp_diastolic with id='bp_diastolic' library={"title":{"text":"BP Diastolic Data: Ideal 80"}} %}</div>
    <div id="black2">{% line_chart bp_systolic with id='bp_systolic' library={"title":{"text":"BP Diastolic Data: Ideal 120"}} %}</div>


          </div>

          <h3 class="sub-header">More details</h3>
          <div class="table-responsive">

          </div>
        </div>
      </div>
    </div>

{% endblock content %}

