{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
     <div class="container">
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <BR><BR>
    <form class="form-signin" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Log in">
    </form>
    <p>Not member? <a href="{% url 'register' %}">Register!</a></p>
     </div>
{% endblock %}
     <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>