
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
     <div class="container">
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <BR>
    <p>Registration Form</p>
    <form class="form-control"  method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
     </div>
{% endblock %}